body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Monserrat', sans-serif;
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.KOwj7MMEgc1V_9t6EQP2agHaE8%26pid%3DApi&f=1&ipt=d4523cef369af696507a81059656d1e4334691b448e8dbe8eb4a6796a86870eb&ipo=images)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}
hr {
  margin: 20px auto;
  color: #f05f44;
  border: 3px solid #f05f44;
  max-width: 65px;
  opacity: 1;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
}
.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}
.btn-xl {
  padding: 1rem 2rem;
}
.buffer {
  height: 10rem;
}
